body{
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.paper {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-image:linear-gradient(red,cyan);
    z-index:1;
    left:815px;
    bottom:600px;
}
.rock {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-image:linear-gradient(red,orange);
    z-index:1;
    left:920px;
    bottom:600px;
}
.scissors {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-image:linear-gradient(red,blue);
    z-index:1;
    left:1025px;
    bottom:600px;
}
.x {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-image:linear-gradient(red,pink);
    z-index:3;
    left: 1130px;
    bottom:600px;
}
.y {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-image:linear-gradient(red,yellow);
    z-index:3;
    left:105px;
    bottom:00px;
}
.container-for-tools {
    position: absolute;
    left:-90px;
    bottom: 00px;
    z-index:2;
}
.clear {
    position: absolute;
    height:90px;
    width:250px;
    background-color: aqua;
    left:-310px;
    bottom:-95px;
}
.clear_text {
    bottom:-79px;
    left:-240px;
    position: absolute;
}
.reset {
    position: absolute;
    height:90px;
    width:250px;
    background-color: aqua;
    left:-50px;
    bottom:-95px;
}
.reset_text {
    position:absolute;
    bottom:-79px;
    right: -30px;
}
.rock_emoji {
    position: absolute;
    left: -295px;
    bottom: 23px;
}
.scissor_emoji {
    position: absolute;
    left: -83px;
    bottom: 19px;
}
.paper_emoji {
    position: absolute;
    left: -198px;
    bottom: 8px;
}
.huge_container {
    position: absolute;
    bottom: -150px;
    left: 0px;
}
.score_human_text {
    position: absolute;
    left: 900px;
    bottom: 850px;
}
.number_of_human_wins {
    position: absolute;
    left:920px;
    bottom: 770px;
}
.score_computer_text {
    position: absolute;
    left: 1150px;
    bottom: 850px;
}
.number_of_computer_wins {
    position: absolute;
    left: 1210px;
    bottom: 770px;
}
.x_text {
    position: absolute;
    left: 1175px;
    bottom: 605px;
    z-index: 3;
    font-size: 20px;
}
.y_text {
    position: absolute;
    left: 1275px;
    bottom: 605px;
    z-index: 3;
    font-size: 20px;
}